* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.start-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translate(4px, -4px);
  box-shadow: -4px 4px;
}
.start-btn:active {
  transform: translate(0px, 0px);
  box-shadow: 0px 0px;
}
.challenge {
  font-family: "Courier New", Courier, monospace;
}
.input {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.3s ease-in-out;
}
.input:focus {
  background-color: #c2c2c2;
}
.score {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 10px;
}

